<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生列表</title>
    <link rel="stylesheet" href="__Plugins__/layui/css/layui.css">
    <link rel="stylesheet" href="__CSS__/global.css" media="all">
    <link rel="stylesheet" href="__Plugins__/font-awesome/css/font-awesome.min.css">	
</head>
<body>
		<div class="admin-main">

			<blockquote class="layui-elem-quote">
				<a data-params='{"content": "{:url('tchadd')}", "title": "添加老师","full":"true"}' class="layui-btn layui-btn-small modal-iframe">
					<i class="layui-icon">&#xe608;</i> 添加老师
				</a>
			</blockquote>
			<form class="layui-form layui-form-pane search-form">
			<div class="layui-form-item">
				<label class="layui-form-label">姓名</label>
				<div class="layui-input-inline">
					<input type="text" name="search[tname]" value="{$search}" lay-verify="" placeholder="请输入姓名搜索" autocomplete="off" class="layui-input">
				</div>
				<button class="layui-btn" lay-submit="" lay-filter="">搜索</button>
			</div>
	        <div class="layui-form-item page-size">
	            <label class="layui-form-label total">共计 {$total} 条</label>
			        <label class="layui-form-label">每页数据条</label>
			        <div class="layui-input-inline">
			           <input type="text" name="page_size" value="{$per_page}" lay-verify="number" placeholder="" autocomplete="off" class="layui-input">
			        </div>
	            <button class="layui-btn" lay-submit="" lay-filter="">确定</button>
	        </div>
	        </form>
			<fieldset class="layui-elem-field">
				<!-- <legend>数据列表</legend> -->
				<div class="layui-field-box layui-form">
					<form class="layui-form">
						<table class="layui-table admin-table">
							<thead>
								<tr>
									<th style="width:30px;text-align:center;"><input type="checkbox" lay-filter="checkAll" lay-skin="primary"></th>

									<th>姓名</th>
									<th>电话</th>
									<th>身份证</th>
									<th>关联登陆</th>
									<th width="50">排序</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="content">
								{volist name="result" id="list"}
								<tr>
									<td style="width:30px;text-align:center;"><input type="checkbox" name="tid[{$list.tid}]" value="{$list.tid}" lay-filter="checkOne" lay-skin="primary"></td>

									<td>{$list.tname}</td>
									<td>{$list.tphone}</td>
									<td>{$list.tidcard}</td>
									<td>{if condition="$list.is_sign eq 1"}关联{else /}未关联{/if}</td>
									<td><input type="text" class="layui-input ajax-blur" name="sort" value="{$list.sort}" data-params='{"url":"{:url('sort')}","data":"tid={$list.tid}"}' ></td>
									<td>
										<a data-params='{"content": "{:url('Tch/tchedit','tid='.$list['tid'])}", "title": "编辑老师信息","full":"true"}'  class="layui-btn layui-btn-normal layui-btn-mini modal-iframe">编辑</a>
										<a href="javascript:;" data-id="{$list.tid}" data-title="{$list.tname}" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
									</td>
								</tr>
								{/volist}
								<tr>
									<th><button class="layui-btn layui-btn-small" lay-submit lay-filter="delete">批量删除</button></th>
	                    			<th colspan="6"><div style="float:right;" id="page"></div></th>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</fieldset>
		</div>
</body>
<script type="text/javascript" src="__Plugins__/layui/layui.js"></script>
<script>
    layui.config({
        base: '/static/js/',
    }).extend({
        modal: 'modal'
    });
    layui.use(['element','jquery','laypage','layer','form','modal','ajax'], function() {
        var $ = layui.jquery,
        	element = layui.element(),
        	layedit = layui.layedit,
			laydate = layui.laydate,
			ajax = layui.ajax,
			modal = layui.modal,
			form = layui.form(),
			layer = layui.layer,
			laypage = layui.laypage;


        //初始化
        modal.init();

        ajax.test = function(ret, options, that) {
            console.log(ret);
            console.log(options);
            console.log(that);
            alert("这是ajax回调方法");
        }
        //ajax删除
		$('a[data-opt=del]').click(function(){
			var tid = $(this).data('id');
			var name = $(this).data('title');
			layer.confirm('确定删除【'+name+'】?', function(index){
			  	loading = layer.load(2, {
			    	shade: [0.2,'#000'] //0.2透明度的白色背景
				});
				$.post('{:url("Tch/tchdel")}',{'tid':tid},function(data){
				    if(data.code == 200){
				      layer.close(loading);
				      layer.msg(data.msg, {icon: 1, time: 1000}, function(){
				        location.href="{:url('Tch/tchlist')}";//do something
				      });
				    }else{
				      layer.close(loading);
				      layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
				    }
				});
			});
		});
		//全选
		form.on('checkbox(checkAll)', function(data){
			if(data.elem.checked){
				$("input[type='checkbox']").prop('checked',true);
			}else{
				$("input[type='checkbox']").prop('checked',false);
			}
			form.render('checkbox');
		});  

		form.on('checkbox(checkOne)', function(data){
			var is_check = true;
			if(data.elem.checked){
		  		$("input[lay-filter='checkOne']").each(function(){
		    		if(!$(this).prop('checked')){ is_check = false; }
		  		});
		  		if(is_check){
		    		$("input[lay-filter='checkAll']").prop('checked',true);
		  		}
			}else{
		  		$("input[lay-filter='checkAll']").prop('checked',false);
			} 
			form.render('checkbox');
		});

		//监听删除提交
		form.on('submit(delete)', function(data){
			//判断是否有选项
			var is_check = false;
			$("input[lay-filter='checkOne']").each(function(){
		  		if($(this).prop('checked')){ is_check = true; }
			});
			if(!is_check){
		  		layer.msg('请选择数据', {icon: 2,anim: 6,time: 1000});
		  		return false;
			}
			//确认删除
			layer.confirm('确定批量删除?', function(index){
				loading = layer.load(2, {
			    	shade: [0.2,'#000'] //0.2透明度的白色背景
			  	});
			  	var param = data.field;
			  	$.post('{:url("Tch/batches_delete")}',param,function(datas){
				    if(datas.code == 200){
				    	layer.close(loading);
				    	layer.msg(datas.msg, {icon: 1, time: 1000}, function(){
				        	location.href="{:url('Tch/tchlist')}";//do something
				    	});
				    }else{
				    	layer.close(loading);
				    	layer.msg(datas.msg, {icon: 2,anim: 6, time: 1000});
				    }
			  	});
			});
			return false;
		});
		//分页
		laypage({
			cont: 'page'
			,skip: true
			,pages: <?php echo ceil($total/$per_page) ?> //总页数
			,groups: 5 //连续显示分页数
			,curr:"{$current_page}"//当前页
			,first: 1 //将首页显示为数字1,。若不显示，设置false即可
			,last: <?php echo ceil($total/$per_page) ?> //将尾页显示为总页数。若不显示，设置false即可
			,jump: function(obj, first){ //触发分页后的回调
				if(!first){ //一定要加此判断，否则初始时会无限刷新
					// loading = layer.load(2, {
					//   shade: [0.2,'#000'] //0.2透明度的白色背景
					// });
					var cerrs = obj.curr;
					// location.href = 'http://'+window.location.host+'/admin/Tch/tchList_page?pageIndex='+cerrs;
					location.href='?{$url_params}&page='+cerrs;

				}
			}
		});
		$('a[data-opt=tchadd]').on('click', function () {
            var url =$(this).data('url');
            parent.tab.tabAdd({
                href:url,
                title:'添加老师'
            });
        });
        $('a[data-opt=tchedit]').on('click', function () {
            var url =$(this).data('url');
            var name =$(this).data('name');
            parent.tab.tabAdd({
                href:url,
                title:'编辑'+name+'老师'
            });
        });
    });
</script>
</html>