<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑错题</title>
    <link rel="stylesheet" href="__Plugins__/layui/css/layui.css">
    <link rel="stylesheet" href="__CSS__/global.css" media="all">
    <link rel="stylesheet" href="__Plugins__/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/webuploader.css?v=0.1.5">
</head>
<body>

	<div style="margin: 15px;">

		<form class="layui-form" action="">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">学生</label>
					<div class="layui-input-inline">
						<select name="etstu" lay-verify="required" lay-filter="aihao">
							<option value="">选项</option>
							{volist name="stulist" id="list"}
							<option value="{$list.stuname}|{$list.stuid}" {if condition="$errordetail.etstu eq $list.stuname"}selected="selected"{/if}>{$list.stuname}</option>
							{/volist}
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">年级</label>
					<div class="layui-input-inline">
						<select name="nianji" lay-verify="required" lay-filter="aihao">
							<option value="">选项</option>
							{volist name="errorlist" id="list"}
							<option value="{$list.type_val}" {if condition="$errordetail.nianji eq $list.type_val"}selected="selected"{/if}>{$list.type_val}</option>
							{/volist}
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">科目:</label>
					<div class="layui-input-inline">
						<label class="layui-form-label" style="text-align:left;padding:9px 0;">{$tch}</label>
						<input type="hidden" name="subject_id" value="{$tch}">
					</div>

				</div>
				
			</div>
			
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">题目</label>
					<div class="layui-input-inline">
						<input type="text" name="ettitle" value="{$errordetail.ettitle}" lay-verify="ettitle" autocomplete="off" placeholder="题目" class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">时间</label>
					<div class="layui-input-inline">
						<input type="text" name="ettime" value="{$errordetail.ettime}" id="ettime" lay-verify="date" placeholder="yyyy-mm-dd" autocomplete="off" class="layui-input" onclick="layui.laydate({elem: this})">
					</div>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">上传图片</label>
				<div class="layui-input-block">
					<div id="uploader" class="wu-example">
						<div class="queueList">
							<div id="dndArea" class="placeholder">
								<div id="filePicker"></div>
								<p>或将照片拖到这里，单次最多可选300张</p>
							</div>
						</div>
						<div class="statusBar" style="display:none;">
							<div class="progress">
								<span class="text">0%</span>
								<span class="percentage"></span>
							</div>
							<div class="info"></div>
							<div class="btns">
								<div id="filePicker2"></div>
								<div class="uploadBtn">开始上传</div>
							</div>
						</div>
					</div>
				</div>

			</div>
	
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">解答</label>
				<div class="layui-input-block">
					<textarea class="layui-textarea layui-hide" name="etnote" lay-verify="content" id="LAY_demo_editor">{$errordetail.etnote}</textarea>
				</div>
			</div>
			
			<div class="layui-form-item">
				<div class="layui-input-block">
					<input type="hidden" name="etid" id="etid" value="{$errordetail.etid}">
					<button class="layui-btn" lay-submit="" lay-filter="erroredits">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
			
		</form>
	</div>
		
</body>
<script type="text/javascript" src="__Plugins__/layui/layui.js"></script>

<script>
    layui.config({
        base: '/static/js/',
    }).extend({
        webuploader: 'lib/webuploader'
    });
	layui.use(['form', 'layedit', 'laydate','webuploader'], function() {
		var form = layui.form(),
			layer = layui.layer,
			$ = layui.jquery,
			layedit = layui.layedit,
            layerTips = parent.layer === undefined ? layui.layer : parent.layer, //获取父窗口的layer对象
            WebUploader = layui.webuploader(),
			laydate = layui.laydate;

			layedit.set({
			  uploadImage: {
			    url: '{:url("Error/uploads")}' //接口url
			    ,type: '' //默认post
			  }
			});
		//创建一个编辑器
		var editIndex = layedit.build('LAY_demo_editor');
		//自定义验证规则
		form.verify({
			title: function(value) {
				if(value.length < 5) {
					return '标题至少得5个字符啊';
				}
			},
			pass: [/(.+){6,12}$/, '密码必须6到12位'],
			content: function(value) {
				layedit.sync(editIndex);
			}
		});

        //定义上传组件

        $wrap = $('#uploader'),

            // 图片容器
            $queue = $('<ul class="filelist"></ul>')
                .appendTo($wrap.find('.queueList')),

            // 状态栏，包括进度和控制按钮
            $statusBar = $wrap.find('.statusBar'),

            // 文件总体选择信息。
            $info = $statusBar.find('.info'),

            // 上传按钮
            $upload = $wrap.find('.uploadBtn'),

            // 没选择文件之前的内容。
            $placeHolder = $wrap.find('.placeholder'),

            // 总体进度条
            $progress = $statusBar.find('.progress').hide(),

            // 添加的文件数量
            fileCount = 0,

            // 添加的文件总大小
            fileSize = 0,

            // 优化retina, 在retina下这个值是2
            ratio = window.devicePixelRatio || 1,

            // 缩略图大小
            thumbnailWidth = 110 * ratio,
            thumbnailHeight = 110 * ratio,

            // 可能有pedding, ready, uploading, confirm, done.
            state = 'pedding',

            // 所有文件的进度信息，key为file id
            percentages = {},

            supportTransition = (function() {
                var s = document.createElement('p').style,
                    r = 'transition' in s ||
                        'WebkitTransition' in s ||
                        'MozTransition' in s ||
                        'msTransition' in s ||
                        'OTransition' in s;
                s = null;
                return r;
            })(),

            // WebUploader实例
            uploader;

        if (!WebUploader.Uploader.support()) {
            layer.msg('Web Uploader 不支持您的浏览器！如果你使用的是IE浏览器，请尝试升级 flash 播放器');
            throw new Error('WebUploader does not support the browser you are using.');
        }

        // 实例化
        uploader = WebUploader.create({
            pick: {
                id: '#filePicker',
                label: '点击选择图片'
            },
            dnd: '#uploader .queueList',
            paste: document.body,

            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            },


            disableGlobalDnd: true,

            chunked: true,
            // server: 'http://webuploader.duapp.com/server/fileupload.php',
            server: '{:url("Error/uploads")}',
            fileNumLimit: 300,
            auto :false,
            fileSizeLimit: 5 * 1024 * 1024, // 200 M
            fileSingleSizeLimit: 1 * 1024 * 1024 // 50 M
        });


        //加载的时候
        uploader.on('ready',function(){
            var etid = $('#etid').val();
            if(typeof(etid) == 'undefined'){
                return;
            }
            $.ajax({
                type: "GET",
                url: "{:url('Error/details')}",
                data: {'etid':etid},
                dataType: 'json',
                success: function (data) {
                    if(data.code == 200){
                        var files = data.tulist;
                        for(var i = 0; i < files.length; i++){
                            var obj ={};
                            statusMap = {};
                            fileCount++;
                            fileSize += files[i].tu_size;
                            if ( fileCount === 1 ) {
                                $placeHolder.addClass('element-invisible');
                                $statusBar.show();
                            }
                            obj.id=files[i].tu_id;
                            obj.name=files[i].tu_name;
                            obj.type=files[i].tu_type;
                            obj.size=files[i].tu_size;
                            obj.ret=files[i].tu_url;
                            obj.source=this;
                            obj.flog=true;
                            obj.status = 'complete',
                                obj.getStatus = function(){
                                    return '';
                                }
                            obj.version = WebUploader.Base.version;
                            obj.statusText = '';
                            obj.setStatus = 'complete';
                            console.log("这是你要的obj：" + JSON.stringify(obj));
                            addFile(obj);
                            setState('ready');
                            updateTotalProgress();
                            $('.filelist').append('<input name="tu_ids['+obj.id+']" type="hidden" value="' + obj.id + '">');
                        }

                    }else{
                        //layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
						console.log('无图片数据');
                    }
                }
            });
        });

        // 添加“添加文件”的按钮，
        uploader.addButton({
            id: '#filePicker2',
            label: '继续添加'
        });

        // 当有文件添加进来时执行，负责view的创建
        function addFile(file) {
            var $li = $('<li id="' + file.id + '">' +
                    '<p class="title">' + file.name + '</p>' +
                    '<p class="imgWrap"></p>' +
                    '<p class="progress"><span></span></p>' +
                    '</li>'),

                $btns = $('<div class="file-panel">' +
                    '<span class="cancel">删除</span>' +
                    '<span class="rotateRight">向右旋转</span>' +
                    '<span class="rotateLeft">向左旋转</span></div>').appendTo($li),
                $prgress = $li.find('p.progress span'),
                $wrap = $li.find('p.imgWrap'),
                $info = $('<p class="error"></p>'),

                showError = function(code) {
                    switch (code) {
                        case 'exceed_size':
                            text = '文件大小超出';
                            break;

                        case 'interrupt':
                            text = '上传暂停';
                            break;

                        default:
                            text = '上传失败，请重试';
                            break;
                    }

                    $info.text(text).appendTo($li);
                };

            if (file.getStatus() === 'invalid') {
                showError(file.statusText);
            } else {
                // @todo lazyload
                $wrap.text('预览中');
                if(file.flog == true){
                    $li.off('mouseenter mouseleave');
                    $btns.remove();
                    var img = $('<img src="'+file.ret+'" layer-pid="'+file.id+'" layer-src="'+file.ret+'">');
                    $wrap.empty().append( img );
                    $li.append('<span class="success"></span>');
                }else{
                    uploader.makeThumb( file, function( error, src ) {
                        if ( error ) {
                            $wrap.text( '不能预览' );
                            return;
                        }

                        var img = $('<img src="'+src+'" layer-pid="'+file.id+'" layer-src="'+src+'">');
                        $wrap.empty().append( img );
                    }, thumbnailWidth, thumbnailHeight );
                }
                percentages[ file.id ] = [ file.size, 0 ];
                file.rotation = 0;


            }
            if(file.flog != true){
                file.on('statuschange', function(cur, prev) {
                    if (prev === 'progress') {
                        $prgress.hide().width(0);
                    } else if (prev === 'queued') {
                        $li.off('mouseenter mouseleave');
                        $btns.remove();
                    }

                    // 成功
                    if (cur === 'error' || cur === 'invalid') {
                        console.log(file.statusText);
                        showError(file.statusText);
                        percentages[file.id][1] = 1;
                    } else if (cur === 'interrupt') {
                        showError('interrupt');
                    } else if (cur === 'queued') {
                        percentages[file.id][1] = 0;
                    } else if (cur === 'progress') {
                        $info.remove();
                        $prgress.css('display', 'block');
                    } else if (cur === 'complete') {
                        $li.append('<span class="success"></span>');
                    }

                    $li.removeClass('state-' + prev).addClass('state-' + cur);
                });
            }

            $li.on('mouseenter', function() {
                $btns.stop().animate({ height: 30 });
            });

            //图片放大
            $('#uploader .imgWrap img').on('click', function() {
                layer.photos({
                    photos: '.imgWrap'
                    ,shift: 5 //0-6的选择，指定弹出图片动画类型，默认随机
                });
            });



            $li.on('mouseleave', function() {
                $btns.stop().animate({ height: 0 });
            });

            $btns.on('click', 'span', function() {
                var index = $(this).index(),
                    deg;

                switch (index) {
                    case 0:
                        uploader.removeFile(file);
                        return;

                    case 1:
                        file.rotation += 90;
                        break;

                    case 2:
                        file.rotation -= 90;
                        break;
                }

                if (supportTransition) {
                    deg = 'rotate(' + file.rotation + 'deg)';
                    $wrap.css({
                        '-webkit-transform': deg,
                        '-mos-transform': deg,
                        '-o-transform': deg,
                        'transform': deg
                    });
                } else {
                    $wrap.css('filter', 'progid:DXImageTransform.Microsoft.BasicImage(rotation=' + (~~((file.rotation / 90) % 4 + 4) % 4) + ')');
                    // use jquery animate to rotation
                    // $({
                    //     rotation: rotation
                    // }).animate({
                    //     rotation: file.rotation
                    // }, {
                    //     easing: 'linear',
                    //     step: function( now ) {
                    //         now = now * Math.PI / 180;

                    //         var cos = Math.cos( now ),
                    //             sin = Math.sin( now );

                    //         $wrap.css( 'filter', "progid:DXImageTransform.Microsoft.Matrix(M11=" + cos + ",M12=" + (-sin) + ",M21=" + sin + ",M22=" + cos + ",SizingMethod='auto expand')");
                    //     }
                    // });
                }


            });

            $li.appendTo($queue);
        }

        // 负责view的销毁
        function removeFile(file) {
            var $li = $('#' + file.id);

            delete percentages[file.id];
            updateTotalProgress();
            $li.off().find('.file-panel').off().end().remove();
        }

        function updateTotalProgress() {
            var loaded = 0,
                total = 0,
                spans = $progress.children(),
                percent;

            $.each(percentages, function(k, v) {
                total += v[0];
                loaded += v[0] * v[1];
            });

            percent = total ? loaded / total : 0;

            spans.eq(0).text(Math.round(percent * 100) + '%');
            spans.eq(1).css('width', Math.round(percent * 100) + '%');
            updateStatus();
        }

        function updateStatus() {
            var text = '',
                stats;

            if (state === 'ready') {
                text = '选中' + fileCount + '张图片，共' +
                    WebUploader.formatSize(fileSize) + '。';
            } else if (state === 'confirm') {
                stats = uploader.getStats();
                if (stats.uploadFailNum) {
                    text = '已成功上传' + stats.successNum + '张照片至XX相册，' +
                        stats.uploadFailNum + '张照片上传失败，<a class="retry" href="#">重新上传</a>失败图片或<a class="ignore" href="#">忽略</a>'
                }

            } else {
                stats = uploader.getStats();
                text = '共' + fileCount + '张（' +
                    WebUploader.formatSize(fileSize) +
                    '），已上传' + stats.successNum + '张';

                if (stats.uploadFailNum) {
                    text += '，失败' + stats.uploadFailNum + '张';
                }
            }

            $info.html(text);
        }

        function setState(val) {
            var file, stats;

            if (val === state) {
                return;
            }

            $upload.removeClass('state-' + state);
            $upload.addClass('state-' + val);
            state = val;

            switch (state) {
                case 'pedding':
                    $placeHolder.removeClass('element-invisible');
                    $queue.parent().removeClass('filled');
                    $queue.hide();
                    $statusBar.addClass('element-invisible');
                    uploader.refresh();
                    break;

                case 'ready':
                    $placeHolder.addClass('element-invisible');
                    $('#filePicker2').removeClass('element-invisible');
                    $queue.parent().addClass('filled');
                    $queue.show();
                    $statusBar.removeClass('element-invisible');
                    uploader.refresh();
                    break;

                case 'uploading':
                    //$('#filePicker2').addClass('element-invisible');
                    $progress.show();
                    $upload.text('上传中....').addClass('disabled');;

                    break;

                case 'paused':
                    $progress.show();
                    $upload.text('继续上传');
                    break;

                case 'confirm':
                    $progress.hide();
                    // $upload.text('开始上传').addClass('disabled');
                    $upload.text('开始上传').removeClass('disabled');
                    stats = uploader.getStats();
                    if (stats.successNum && !stats.uploadFailNum) {
                        setState('finish');
                        return;
                    }
                    break;
                case 'finish':
                    stats = uploader.getStats();
                    if (stats.successNum) {
                        layer.msg('上传成功');
                    } else {
                        // 没有成功的图片，重设
                        state = 'done';
                        location.reload();
                    }
                    break;
            }

            updateStatus();
        }

        uploader.onUploadProgress = function(file, percentage) {
            var $li = $('#' + file.id),
                $percent = $li.find('.progress span');

            $percent.css('width', percentage * 100 + '%');
            percentages[file.id][1] = percentage;
            updateTotalProgress();
        };

        uploader.onFileQueued = function(file) {
            fileCount++;
            fileSize += file.size;

            if (fileCount === 1) {
                $placeHolder.addClass('element-invisible');
                $statusBar.show();
            }

            addFile(file);
            setState('ready');
            updateTotalProgress();
        };

        //当文件被移除队列后触发。
        uploader.onFileDequeued = function(file) {
            fileCount--;
            fileSize -= file.size;

            if (!fileCount) {
                setState('pedding');
            }

            removeFile(file);
            updateTotalProgress();

        };

        uploader.on('all', function(type) {
            var stats;
            switch (type) {
                case 'uploadFinished':
                    setState('confirm');
                    break;

                case 'startUpload':
                    setState('uploading');
                    break;

                case 'stopUpload':
                    setState('paused');
                    break;

            }
        });

        uploader.onError = function(code) {
            layer.msg('Eroor: ' + code);
        };

        $upload.on('click', function() {
            if ($(this).hasClass('disabled')) {
                return false;
            }

            if (state === 'ready') {
                uploader.upload();
            } else if (state === 'paused') {
                uploader.upload();
            } else if (state === 'uploading') {
                uploader.stop();
            }
        });

        $info.on('click', '.retry', function() {
            uploader.retry();
        });

        $info.on('click', '.ignore', function() {
            layer.msg('todo');
        });

        $upload.addClass('state-' + state);
        updateTotalProgress();

        //上传后，服务端返回的信息
        uploader.on('uploadSuccess', function(file, ret) {
            if(ret.code == 200){
                var params = {
                    name:file.name,
                    type:file.type,
                    size:file.size,
                    url:ret.data.src
                };

                $.ajax({
                    type: "POST",
                    url: "{:url('Tu/add')}",
                    data: params,
                    dataType: 'json',
                    success: function (data) {
                        if(data.code == 200){
                            //上传成功追加html
                            $('.filelist').append('<input name="tu_ids['+data.tu_id+']" type="hidden" value="' + data.tu_id + '">')
                        }else{
                            layerTips.msg(data.msg, {icon: 2, anim: 6, time: 1000});
                        }
                    }
                });
            }else{
                //
            }
        });

		//监听提交
		form.on('submit(erroredits)', function(data) {
			var param = data.field;
			$.ajax({
                type: "POST",
                url: "{:url('Error/teaErroredit')}",
                data: param,
                dataType: 'json',
                async: false,
                cache: false,
                success: function (data) {
                	if(data.code == 200){
					    layer.msg(data.msg, {icon: 1, time: 1000}, function(){
                            //关闭tab窗口
							/*var id  = parent.tab.getCurrentTabId();
							 parent.tab.deleteTab(id);*/
                            //关闭full窗口
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
					    });
					  }else{
					    layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
					  }
                }
            });
			return false;
		});
		

		
	});
	
	
</script>

</html>