<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__Plugins__/layui/css/layui.css">
    <link rel="stylesheet" href="__CSS__/global.css" media="all">
    <link rel="stylesheet" href="__Plugins__/font-awesome/css/font-awesome.min.css">
</head>
<body>
<div class="admin-main">

    <blockquote class="layui-elem-quote">
        <a href="javascript:;" class="layui-btn layui-btn-small" id="add">
            <i class="layui-icon">&#xe608;</i> 添加角色11
        </a>

    </blockquote>

    <fieldset class="layui-elem-field">
        <legend>角色列表</legend>
        <div class="layui-field-box layui-form">
            <table class="layui-table admin-table list-table">
                <thead>
                <tr>
                    <th style="width: 30px;">编号</th>
                    <th>角色名称</th>
                    <th>角色描述</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="content">
                {volist name="result" id="vo"}

                <tr>
                    <td><input type="checkbox" lay-skin="primary"></td>
                    <td>{$vo.title}</td>
                    <td>{$vo.desc}</td>
                    <td>
                        {if condition="$vo.status eq 1"}启用
                        {else /} 停用
                        {/if}

                    </td>

                    <td>
                        <a data-url="/admin/role/rolemanage" href="javascript:;" class="layui-btn layui-btn-normal layui-btn-mini">权限设置</a>
                        <a href="javascript:;" data-id="{$vo.id}" data-opt="edit" class="layui-btn layui-btn-mini">编辑</a>
                        <a href="javascript:;" data-id="{$vo.id}" data-title="{$vo.title}" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </fieldset>
    <div class="admin-table-page">
        <div id="paged" class="page">
        </div>
    </div>
</div>
<!--模板-->
<script type="text/html" id="tpl">
    {{# layui.each(d.list, function(index, item){ }}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.desc }}</td>
        <td>
            {{# if (item.status == 1) { }}
            启用
            {{# } else { }}
            停用
            {{# } }}

        </td>

        <td>
            <a  href="/admin/role/rolemanage1" class="layui-btn layui-btn-normal layui-btn-mini">权限设置</a>
            <a href="javascript:;" data-id="{{ item.id }}" data-opt="edit" class="layui-btn layui-btn-mini">编辑</a>
            <a href="javascript:;" data-id="{{ item.id }}" data-title="{{ item.title }}" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
        </td>
    </tr>
    {{# }); }}
</script>
<script type="text/javascript" src="__Plugins__/layui/layui.js"></script>
<script>
    layui.config({
        base: '/static/js/'
    });

    layui.use(['paging', 'form'], function() {
        var $ = layui.jquery,
            paging = layui.paging(),
            layerTips = parent.layer === undefined ? layui.layer : parent.layer, //获取父窗口的layer对象
            layer = layui.layer, //获取当前窗口的layer对象
            form = layui.form();




        paging.init({
            url:"{:url('roleList')}" , //地址
            elem: '#content', //内容容器
            params: { //发送到服务端的参数
            },
            type: 'GET',
            tempElem: '#tpl', //模块容器
            pageConfig: { //分页参数配置
                elem: '#paged', //分页容器
                pageSize: 3 //分页大小
            },

            success: function() { //渲染成功的回调

            },
            fail: function(msg) { //获取数据失败的回调
                alert(msg.msg);
            },

            complate: function() { //完成的回调
                //alert('处理完成');
                //重新渲染复选框
                form.render('checkbox');
                form.on('checkbox(allselector)', function(data) {
                    var elem = data.elem;

                    $('#content').children('tr').each(function() {
                        var $that = $(this);
                        //全选或反选
                        $that.children('td').eq(0).children('input[type=checkbox]')[0].checked = elem.checked;
                        form.render('checkbox');
                    });
                });

                //绑定所有按钮事件
                var editBoxIndex = -1;
                $('#content').children('tr').each(function() {
                    var $that = $(this);
                    //编辑事件
                    $that.children('td:last-child').children('a[data-opt=edit]').on('click', function() {
                        //layer.msg($(this).data('id'));
                        if(editBoxIndex !== -1)
                            return;
                        var param = {
                            id: $(this).data('id')
                        };
                       var index = layer.msg('编辑载入中', {
                            icon: 16
                            ,shade: 0.01
                        });
                        $.get("{:url('editRole')}", param, function(form) {
                            layer.close(index);
                            editBoxIndex = layer.open({
                                type: 1,
                                title: '编辑角色',
                                content: form,
                                btn: ['保存', '取消'],
                                shade: false,
                                offset: ['100px', '30%'],
                                area: ['600px', '400px'],
                                zIndex: 10000,
                                maxmin: true,
                                yes: function(index) {
                                          //触发表单的提交事件
                                    $('form.layui-form').find('button[lay-filter=edit-role]').click();
                                },
                                full: function(elem) {
                                    var win = window.top === window.self ? window : parent.window;
                                    $(win).on('resize', function() {
                                        var $this = $(this);
                                        elem.width($this.width()).height($this.height()).css({
                                            top: 0,
                                            left: 0
                                        });
                                        elem.children('div.layui-layer-content').height($this.height() - 95);
                                    });
                                },
                                success: function(layero, index) {
                                    //弹出窗口成功后渲染表单
                                    var form = layui.form();
                                    form.render();
                                    form.on('submit(edit-role)', function(data) {
                                        console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
                                        console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
                                        console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
                                        //调试表单
                                         /*layerTips.open({
                                         title: '这里面是表单的信息',
                                         type: 1,
                                         content: JSON.stringify(data.field),
                                         area: ['500px', '300px'],
                                         btn: ['关闭并刷新', '关闭'],
                                         yes: function(index, layero) {
                                         layerTips.msg('你点击了关闭并刷新');
                                         layerTips.close(index);
                                         location.reload(); //刷新
                                         }

                                         })*/;
                                        $.ajax({
                                            type: "POST",
                                            url: "{:url('editRole')}",
                                            data: {id:data.field.id,title:data.field.title, desc:data.field.desc,status:data.field.status},
                                            dataType: "json",
                                            success: function(data){
                                                if(data.code == 200){
                                                   // var edit_status = layerTips.msg('编辑成功');
                                                    location.reload(); //刷新
                                                   // layerTips.close(edit_status);
                                                }else{
                                                    layerTips.msg("添加失败");
                                                }

                                            }
                                        });
                                        return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                                    });
                                    //console.log(layero, index);
                                },
                                end: function() {
                                    editBoxIndex = -1;
                                }
                            });
                        });

                    });
                    //删除事件
                    $that.children('td:last-child').children('a[data-opt=del]').on('click', function(){
                        var id = $(this).data('id');
                        layer.confirm('确定删除【'+$(this).data('title')+'】?', function(index){
                            loading = layer.load(2, {
                                shade: [0.2,'#000'] //0.2透明度的白色背景
                            });
                            $.post('{:url("roleDel")}',{'id':id},function(data){
                                if(data.code == 200){
                                    layer.close(loading);
                                    layer.msg(data.msg, {icon: 1, time: 1000}, function(){
                                        location.reload();//do something
                                    });
                                }else{
                                    layer.close(loading);
                                    layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
                                }
                            });
                        });
                    });
                });

            },
        });
        //获取所有选择的列
        $('#getSelected').on('click', function() {
            var names = '';
            $('#content').children('tr').each(function() {
                var $that = $(this);
                var $cbx = $that.children('td').eq(0).children('input[type=checkbox]')[0].checked;
                if($cbx) {
                    var n = $that.children('td:last-child').children('a[data-opt=edit]').data('name');
                    names += n + ',';
                }
            });
            layer.msg('你选择的名称有：' + names);
        });

        $('#search').on('click', function() {
            parent.layer.alert('你点击了搜索按钮')
        });

        var addBoxIndex = -1;
        $('#add').on('click', function() {
            if(addBoxIndex !== -1)
                return;
            //本表单通过ajax加载 --以模板的形式，当然你也可以直接写在页面上读取
            $.get("{:url('addRole')}", null, function(form) {
                addBoxIndex = layer.open({
                    type: 1,
                    title: '添加角色',
                    content: form,
                    btn: ['保存', '取消'],
                    shade: false,
                    offset: ['100px', '30%'],
                    area: ['600px', '400px'],
                    zIndex: 10000,
                    maxmin: true,
                    yes: function(index) {
                        //触发表单的提交事件
                        $('form.layui-form').find('button[lay-filter=add-role]').click();
                    },
                    full: function(elem) {
                        var win = window.top === window.self ? window : parent.window;
                        $(win).on('resize', function() {
                            var $this = $(this);
                            elem.width($this.width()).height($this.height()).css({
                                top: 0,
                                left: 0
                            });
                            elem.children('div.layui-layer-content').height($this.height() - 95);
                        });
                    },
                    success: function(layero, index) {
                        //弹出窗口成功后渲染表单
                        var form = layui.form();
                        form.render();
                        form.on('submit(add-role)', function(data) {
                            console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
                            console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
                            console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
                            //调试表单
                           /* layerTips.open({
                                title: '这里面是表单的信息',
                                type: 1,
                                content: JSON.stringify(data.field),
                                area: ['500px', '300px'],
                                btn: ['关闭并刷新', '关闭'],
                                yes: function(index, layero) {
                                    layerTips.msg('你点击了关闭并刷新');
                                    layerTips.close(index);
                                    location.reload(); //刷新
                                }

                            });*/
                            $.ajax({
                                type: "POST",
                                url: "{:url('addRole')}",
                                data: {title:data.field.title, desc:data.field.desc,status:data.field.status},
                                dataType: "json",
                                success: function(data){
                                    if(data.code == 200){
                                        //layerTips.msg('添加成功');
                                        layerTips.close(index);
                                        location.reload(); //刷新
                                    }else{
                                        layerTips.msg("添加失败");
                                    }

                                }
                            });
                            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                        });
                        //console.log(layero, index);
                    },
                    end: function() {
                        addBoxIndex = -1;
                    }
                });
            });
        });

        $('#import').on('click', function() {
            var that = this;
            var index = layer.tips('只想提示地精准些', that, { tips: [1, 'white'] });
            $('#layui-layer' + index).children('div.layui-layer-content').css('color', '#84ff4e');
        });
    });
</script>
</body>
</html>