<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人员列表</title>
    <link rel="stylesheet" href="__Plugins__/layui/css/layui.css">
    <link rel="stylesheet" href="__CSS__/global.css" media="all">
    <link rel="stylesheet" href="__Plugins__/font-awesome/css/font-awesome.min.css">	
</head>
<body>
		<div class="admin-main">

			<blockquote class="layui-elem-quote">
				<a data-opt="useradd" href="javascript:;" class="layui-btn layui-btn-small">
					<i class="layui-icon">&#xe608;</i> 添加人员
				</a>
			</blockquote>
			<form class="layui-form layui-form-pane search-form">
			<div class="layui-form-item">
				<label class="layui-form-label">手机号</label>
				<div class="layui-input-inline">
					<input type="text" name="search[mobile]" value="{$search}" lay-verify="" placeholder="请输入手机号搜索" autocomplete="off" class="layui-input">
				</div>
				<button class="layui-btn" lay-submit="" lay-filter="">搜索</button>
			</div>
	        <div class="layui-form-item page-size">
	            <label class="layui-form-label total">共计 {$total} 条</label>
			        <label class="layui-form-label">每页数据条</label>
			        <div class="layui-input-inline">
			           <input type="text" name="page_size" value="{$per_page}" lay-verify="number" placeholder="" autocomplete="off" class="layui-input">
			        </div>
	            <button class="layui-btn" lay-submit="" lay-filter="">确定</button>
	        </div>
	        </form>
			<fieldset class="layui-elem-field">
				<div class="layui-field-box layui-form">
					<table class="layui-table admin-table">
						<thead>
							<tr>
								<th style="width:30px;text-align:center;"><input type="checkbox" lay-filter="checkAll" lay-skin="primary"></th>
								<th>名字</th>
								<th>角色</th>
								<th>账号</th>
								<th>状态</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="content">
							{volist name="result" id="list"}
							<tr>
								<td style="width:30px;text-align:center;"><input type="checkbox" name="uid[{$list.uid}]" value="{$list.uid}" lay-filter="checkOne" lay-skin="primary"></td>
								<td>{$list.nick}</td>
								<td>{$list.title}</td>
								<td>{$list.mobile}</td>
								<td>{if condition="$list.lock eq 1"}启用{else /}停用{/if}</td>
								<td>
									<a href="javascript:;" data-opt="useredit" data-id="{$list.uid}" class="layui-btn layui-btn-normal layui-btn-mini">编辑</a>
									<a href="javascript:;" data-id="{$list.uid}" data-title="{$list.mobile}" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
								</td>
							</tr>
							{/volist}
							<tr>
								<th><button class="layui-btn layui-btn-small" lay-submit lay-filter="delete">批量删除</button></th>
                    			<th colspan="5"><div style="float:right;" id="page"></div></th>
							</tr>
						</tbody>
					</table>
				</div>
			</fieldset>
		</div>
</body>
<script type="text/javascript" src="__Plugins__/layui/layui.js"></script>
<script>
    layui.use(['jquery','layer','laypage','form'], function() {
        var $ = layui.jquery,
        	layedit = layui.layedit,
			laydate = layui.laydate,
			form = layui.form(),
			$form = $('form'),
			layer = layui.layer,
			laypage = layui.laypage;
        //ajax删除
		$('a[data-opt=del]').click(function(){
			var uid = $(this).data('id');
			var name = $(this).data('title');
			layer.confirm('确定删除【'+name+'】?', function(index){
			  	loading = layer.load(2, {
			    	shade: [0.2,'#000'] //0.2透明度的白色背景
				});
				$.post('{:url("Users/userdel")}',{'uid':uid},function(data){
				    if(data.code == 200){
				      layer.close(loading);
				      layer.msg(data.msg, {icon: 1, time: 1000}, function(){
				        location.href="{:url('Users/userlist')}";//do something
				      });
				    }else{
				      layer.close(loading);
				      layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
				    }
				});
			});
		});
		//全选
		form.on('checkbox(checkAll)', function(data){
			if(data.elem.checked){
				$("input[type='checkbox']").prop('checked',true);
			}else{
				$("input[type='checkbox']").prop('checked',false);
			}
			form.render('checkbox');
		});  

		form.on('checkbox(checkOne)', function(data){
			var is_check = true;
			if(data.elem.checked){
		  		$("input[lay-filter='checkOne']").each(function(){
		    		if(!$(this).prop('checked')){ is_check = false; }
		  		});
		  		if(is_check){
		    		$("input[lay-filter='checkAll']").prop('checked',true);
		  		}
			}else{
		  		$("input[lay-filter='checkAll']").prop('checked',false);
			} 
			form.render('checkbox');
		});

		//监听删除提交
		form.on('submit(delete)', function(data){
			//判断是否有选项
			var is_check = false;
			$("input[lay-filter='checkOne']").each(function(){
		  		if($(this).prop('checked')){ is_check = true; }
			});
			if(!is_check){
		  		layer.msg('请选择数据', {icon: 2,anim: 6,time: 1000});
		  		return false;
			}
			//确认删除
			layer.confirm('确定批量删除?', function(index){
				loading = layer.load(2, {
			    	shade: [0.2,'#000'] //0.2透明度的白色背景
			  	});
			  	var param = data.field;
			  	$.post('{:url("Users/batches_delete")}',param,function(datas){
				    if(datas.code == 200){
				    	layer.close(loading);
				    	layer.msg(datas.msg, {icon: 1, time: 1000}, function(){
				        	location.href="{:url('Users/userlist')}";//do something
				    	});
				    }else{
				    	layer.close(loading);
				    	layer.msg(datas.msg, {icon: 2,anim: 6, time: 1000});
				    }
			  	});
			});
			return false;
		});
		//分页
		laypage({
			cont: 'page'
			,skip: true
			,pages: <?php echo ceil($total/$per_page) ?> //总页数
			,groups: 5 //连续显示分页数
			,curr:"{$current_page}"//当前页
			,first: 1 //将首页显示为数字1,。若不显示，设置false即可
			,last: <?php echo ceil($total/$per_page) ?> //将尾页显示为总页数。若不显示，设置false即可
			,jump: function(obj, first){ //触发分页后的回调
				if(!first){ //一定要加此判断，否则初始时会无限刷新
					// loading = layer.load(2, {
					//   shade: [0.2,'#000'] //0.2透明度的白色背景
					// });
					var cerrs = obj.curr;
					// location.href = 'http://'+window.location.host+'/admin/Tch/tchList_page?pageIndex='+cerrs;
					location.href='?{$url_params}&page='+cerrs;

				}
			}
		});
		$(document).on("click",'a[data-opt=useradd]',function(){
            var index = layer.msg('添加载入中', {
                icon: 16
                ,shade: 0.01
            });
			$.get("{:url('useradd')}", {}, function(form){
				layer.close(index);
				layer.open({
					type: 1,
					title: '添加人员',
					content: form,
                    btn: ['保存', '取消'],
                    shade: false,
                    area: ['800px', '550px'],
                    zIndex: 10000,
                    maxmin: true,
                    yes: function (index) {
                        //触发表单的提交事件
                        $('form.layui-form').find('button[lay-filter=useradds]').click();
                        // layer.close(index); //如果设定了yes回调，需进行手工关闭
                    },
					success: function(layero, index){
						//弹出窗口成功后渲染表单
                        var form = layui.form();
                        form.render();
                        //监听提交
						form.on('submit(useradds)', function(data) {
							var param = data.field;
							if (param['pass'] == param['repass']) {
								$.ajax({
					                type: "POST",
					                url: "{:url('Users/useradd')}",
					                data: param,
					                dataType: 'json',
					                async: false,
					                cache: false,
					                success: function (data) {
					                	if(data.code == 200){
										    layer.msg(data.msg, {icon: 1, time: 1000}, function(){
										      location.href = "{:url('Users/userlist')}";//do something
										    });
										  }else{
										    layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
										  }
					                }
					            });
					        } else {
								layer.msg('两次输入密码不相同', {icon: 2, anim: 6, time: 1000});
							};
							return false;
						});
						//判断教师
						form.on('select(rule_id)', function(data) {
							var teacher_id = data.value;
							var arr=teacher_id.split('|');
							if (arr[0] == 34) {
								$("input[name='nick']").val('');
								$("select[name='teacher_id']").attr('lay-verify','required');
								$('#stus').show();
								$('#tea').show();
								$('#nis').hide();
							} else {
								$("select[name='teacher_id']").val('');
								$("input[lay-filter='stux']").each(function(){
						    		$(this).prop('checked',false);
						  		});
						  		$("select[name='teacher_id']").removeAttr('lay-verify');
								$('#tea').hide();
								$('#stus').hide();
								$('#nis').show();
								form.render();
							};
						});
					},
				});
			});
		});
        $(document).on("click",'a[data-opt=useredit]',function(){
        	var param = {
                uid: $(this).data('id')
            };
            var index = layer.msg('编辑载入中', {
                icon: 16
                ,shade: 0.01
            });
			$.get("{:url('useredit')}", param, function(form){
				layer.close(index);
				layer.open({
					type: 1,
					title: '编辑人员',
					content: form,
                    btn: ['保存', '取消'],
                    shade: false,
                    area: ['800px', '550px'],
                    zIndex: 10000,
                    maxmin: true,
                    yes: function (index) {
                        //触发表单的提交事件
                        $('form.layui-form').find('button[lay-filter=useredits]').click();
                        // layer.close(index); //如果设定了yes回调，需进行手工关闭
                    },
					success: function(layero, index){
						//弹出窗口成功后渲染表单
                        var form = layui.form();
                        form.render();
                        //监听提交
						form.on('submit(useredits)', function(data) {
							var param = data.field;
							if (param['pass'] == param['repass']) {
								$.ajax({
					                type: "POST",
					                url: "{:url('Users/useredit')}",
					                data: param,
					                dataType: 'json',
					                async: false,
					                cache: false,
					                success: function (data) {
					                	if(data.code == 200){
										    layer.msg(data.msg, {icon: 1, time: 1000}, function(){
										      location.href = "{:url('Users/userlist')}";//do something
										    });
										  }else{
										    layer.msg(data.msg, {icon: 2, anim: 6, time: 1000});
										  }
					                }
					            });
					        } else {
								layer.msg('两次输入密码不相同', {icon: 2, anim: 6, time: 1000});
							};
							return false;
						});
						//判断教师
						form.on('select(rule_id)', function(data) {
							var teacher_id = data.value;
							var arr=teacher_id.split('|');
							if (arr[0] == 34) {
								$("input[name='nick']").val('');
								$("select[name='teacher_id']").attr('lay-verify','required');
								$('#stus').show();
								$('#tea').show();
								$('#nis').hide();
							} else {
								$("select[name='teacher_id']").val('');
								$("input[lay-filter='stux']").each(function(){
						    		$(this).prop('checked',false);
						  		});
						  		$("select[name='teacher_id']").removeAttr('lay-verify');
								$('#tea').hide();
								$('#stus').hide();
								$('#nis').show();
								form.render();
							};
						});
					},
				});
			});
		});
    });

</script>
</html>